<!-- @format -->

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>HUYỀN THOẠI MU - Máy chủ mới HUYỀN THOẠI</title>
    <meta name="keywords" content="mu ha noi,mu hanoi,mu hoan my,huyenthoai-mu.net,muhanoi,trang chu mu ha noi,muhanoi-moi.net,download mu ha noi,mu ha noi sever quyen nang,mu ex701,mu ex 702, mu ex 700 plus,hanoi net,mu hn" />
    <meta name="description" content="Tượng đài MU Online Số 1 Việt Nam. Mu Hà Nội phát triển từ năm 2009 với tên miền huyenthoai-mu.net đã xây dựng một cộng đồng đông đảo các game thủ và bạn bè!" />
    <link rel="icon" href="favicon.ico" />
    <meta property="og:image" content="content.jpg" itemprop="thumbnailUrl" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="HUYỀN THOẠI MU - Máy chủ mới HUYỀN THOẠI" />
    <meta property="og:description" content="Tượng đài MU Online Số 1 Việt Nam" />
    <meta property="og:image" content="" />
    <meta name="viewport" content="width=1300, initial-scale=1" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/style-landing.css" rel="stylesheet" />
</head>

<body class="">
    <section class="page-1">
        <!--h1 class="rs"><a href="#" class="logo"></a></h1-->
        <a href="https://www.youtube.com/watch?v=kx1XrMVtgg4" class="btn-play"></a>
        <div class="video">
            <video width="1920" height="1080" playsinline="" autoplay="" muted="" loop="">
          <source
            src="assets/images/bg.mp4?v=<?php%20echo%20time();%20?>"
            type="video/mp4" />
        </video>
        </div>
        <div class="links">
            <a href="https://id.huyenthoai-mu.net/" class="home toolTip"><span class="tip">Trang chủ</span></a
        >
        <a
          href="https://id.huyenthoai-mu.net/#download"
          class="download toolTip"
          ><span class="tip">Tải game</span></a
        >
        <a
          href="https://www.facebook.com/profile.php?id=100087645397886"
          class="forum toolTip"
          ><span class="tip">Cộng Đồng</span></a
        >
        <a
          href="https://id.huyenthoai-mu.net/#register"
          class="register toolTip"
          ><span class="tip">Đăng ký</span></a
        >
      </div>
      <div class="muhn">
        <a href="#" class="logo-1"></a>

            <div class="info">
                <p class="t1 rs">HUYỀN THOẠI MU</p>
                <p class="t2 rs">Huyền Thoại Trở Lại</p>
                <div class="btn">
                    <a href="https://www.facebook.com/" class="fb toolTip"><span class="tip">Fanpage</span></a
            >
            <a href="https://www.facebook.com/" class="gr toolTip"
              ><span class="tip">Group</span></a
            >
            <a href="javascript:;" class="sound on toolTip" id="sound">
              <i></i><span class="tip">Nhạc nền</span>
            </a>
                </div>
            </div>
        </div>
    </section>
    <div class="events">
        <div class="event-cont">
            <img src="assets/images/img-1.jpg" alt="Sự Kiện 1" />
        </div>
    </div>
    <audio autoplay="" playsinline="" loop="" id="music">
      <source src="assets/images/video.mp3" type="audio/mpeg" />
    </audio>

    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!--<script src="assets/js/kkcountdown.js"></script>-->
    <script src="assets/js/script-landing.js"></script>
</body>

</html>